Project_1/proj1_env
Project_1/test.py
Project_1/Part1/*.csv
Project_1/Part1_2/data/
Project_1/Part2/data/
Project_1/Part2/checkpoints/
Project_1/Part2/model_data/dnn_1.csv
Project_1/Part2/figures/
Project_1/Part3_clean/data/
hw2/MLDS_hw2_1_data
bert_squad_finetuning/checkpoints/
bert_squad_tutorial/checkpoints/
hugging_face_bert_tutorial/checkpoints/
hw3/checkpoints/spoken_squad/
hw3/checkpoints/squad/
